body{
    margin: 0;
    padding: 0;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: antiquewhite;
    color: rgb(0, 110, 255);
}

.menu{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 100px; 
    background-color: rgba(12, 12, 12, 0.1);
}

.content_section{
    background-size: cover; 
    display: flex;
    height: 100%;
    width: 100%;
}

.sec_part{
    position: absolute;
    background-color:rgb(74, 93, 105) ;
    height: 100%;
    width: 40%;
    opacity: 30%;
}
